version: '3'
services:

  node-server:
    image: rakd/weavedb-node-server
    ports:
      - "9090:9090"
      - "4736:4736"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./cache:/weavedb/cache

    env_file:
      - ./standalone.env

  envoy:
    image: rakd/weavedb-envoy
    ports:
      - "8080:8080"
    environment:
      - LISTEN_PORT=8080
      - ADMIN_LISTEN_PORT=9901
      - SERVICE_DISCOVERY_ADDRESS=0.0.0.0
      - SERVICE_DISCOVERY_PORT=9090



